{{- define "main" }}

<article class="appearance-article">
  <header class="appearance-header">
    <h1 class="appearance-title">{{ .Title }}</h1>
    <div class="appearance-meta">
      {{- if .Params.venue }}
      <span class="appearance-venue">{{ .Params.venue }}</span>
      {{- end }}
      {{- if .Params.type }}
      <span class="appearance-type">{{ .Params.type | title }}</span>
      {{- end }}
      <span class="appearance-date">{{ .Date.Format "January 2, 2006" }}</span>
    </div>
    {{- if .Params.summary }}
    <div class="appearance-summary">{{ .Params.summary }}</div>
    {{- end }}
    {{- if .Params.links }}
    <div class="appearance-links">
      {{- range .Params.links }}
      <a href="{{ .url }}" class="appearance-link-btn" target="_blank" rel="noopener">{{ .name }}</a>
      {{- end }}
    </div>
    {{- end }}
  </header>
  <div class="appearance-content">
    {{ .Content }}
  </div>
</article>


{{- end }}{{/* end main */}} 